<div layout="column">
    <md-toolbar class="md-warn">
        <div layout="row" layout-align="space-between center" style="padding:0px 10px">
            <div class=""><h3>Main Game Window</h3></div>
            <div>Widgets: {{ model.widgetInfo.currentWidgets | number:0}}</div>
        </div>
    </md-toolbar>
    <md-content layout-padding style="height:100%; padding: 24px;">

        <div layout="row">
            <div flex="40">
                <md-button class="md-raised md-warn" ng-click="callback.clickHandler()">Click Me!</md-button>
                <pre>{{'Elapsed: ' + model.elapsed.elapsed}} || Time: {{ model.elapsed.display | time: 'ss'}}</pre>
            </div>
            <div flex="30" style="padding: 0px 5px;" class="md-whiteframe-z1">
                <md-toolbar class="md-warn">
                    <div class="md-toolbar-tools">
                        <h2 class="md-flex">Stats and Achievements</h2>
                    </div>
                </md-toolbar>
                <md-tabs md-dynamic-height md-border-bottom md-stretch-tabs="always">
                    <md-tab label="Stats">
                        <md-content class="md-padding">
                            <div layout="column">
                                <div>Manual Clicks: {{model.clickInfo.manualClicks}}</div>
                                <div>Total Widgets Earned: {{model.widgetInfo.totalWidgets}}</div>
                            </div>

                        </md-content>
                    </md-tab>
                    <md-tab label="Achievements">
                        <md-content class="md-padding">
                            <h1 class="md-display-2">Tab Two</h1>

                            <p>Integer turpis erat, porttitor vitae mi faucibus, laoreet interdum tellus. Curabitur
                                posuere molestie dictum. Morbi eget congue risus, quis rhoncus quam. Suspendisse vitae
                                hendrerit erat, at posuere mi. Cras eu fermentum nunc. Sed id ante eu orci commodo
                                volutpat non ac est. Praesent ligula diam, congue eu enim scelerisque, finibus commodo
                                lectus.</p>
                        </md-content>
                    </md-tab>
                </md-tabs>

            </div>
            <div flex="30" style="padding: 0px 5px;" class="md-whiteframe-z1">

                <md-toolbar class="md-warn">
                    <div class="md-toolbar-tools">
                        <h2 class="md-flex">Generators and Upgrades</h2>
                    </div>
                </md-toolbar>

                <md-tabs md-dynamic-height md-border-bottom md-stretch-tabs="always">
                    <md-tab label="Generators">
                        <md-content class="md-padding">
                            <div ng-repeat="generator in model.generators track by $index">
                                <div class="md-whiteframe-z1" style="padding:5px 10px; margin-bottom: 10px;">
                                    <div layout="row" layout-align="space-between center" style="margin-bottom:5px">
                                        <strong>{{model.generators[$index].getName()}}
                                            ({{model.generators[$index].getOwned()}})</strong>

                                        <div>Cost: {{model.generators[$index].getCost() | number:0}}</div>
                                    </div>
                                    <div layout="row" layout-align="space-between center">
                                        <div>WPS: {{model.generators[$index].getCurrentWPS() | number:0}} ({{model.generators[$index].getTotalWPS()}})</div>
                                        <md-button class="md-raised md-warn" ng-click="model.generators[$index].buy(model.widgetInfo)">Buy</md-button>
                                    </div>
                                </div>
                            </div>

                        </md-content>
                    </md-tab>
                    <md-tab label="Upgrades">
                        <md-content class="md-padding">
                            <h1 class="md-display-2">Tab Two</h1>

                            <p>Integer turpis erat, porttitor vitae mi faucibus, laoreet interdum tellus. Curabitur
                                posuere molestie dictum. Morbi eget congue risus, quis rhoncus quam. Suspendisse vitae
                                hendrerit erat, at posuere mi. Cras eu fermentum nunc. Sed id ante eu orci commodo
                                volutpat non ac est. Praesent ligula diam, congue eu enim scelerisque, finibus commodo
                                lectus.</p>
                        </md-content>
                    </md-tab>
                </md-tabs>

            </div>
        </div>


    </md-content>
</div>